.container{
	/*height: 2000vh;*/

}

.btn btn-outline-success my-2 my-sm-0 {
	position: absolute;
	right: 20px;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark {
	position: static;
	padding-top: 0px;
	margin-bottom: 20px;
}
